$white: #fff;
$light-gray: #efefef;
$soft-gray: #ececec;
$gray: #cacaca;
$table-bacground: #6d6d6d;
$error-red: #ff0000;
$error-red-prehover: #ff7a7a;
$orange-btn: #ff9900;
$green-confirm: #009e1a;
$link-color: #0d6efd;
$link-color--hover: #003f9c;
$dark-gray: #222222;
$dark-input: #414141;
$black: #212529;
$dark: #000000;
$font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$background-table-color: #616161; /* Цвет таблицы */
$bordel-color: #b2dfdb; /* Цвет граней */
$th-color: #fbc02d; /* Цвет элементов заголовка */
